.is-text-centered {
	text-align: center;
}
.is-margin-centered {
	margin: 0 auto;
}

.is-full-height {
	height: 100vh;
}

.profile-image {
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 20px;
}