<!DOCTYPE html>
<html>
<head>
	<title>OMI Spotify App</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>
	<link rel=stylesheet href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">
	<style type="text/css">
		.album figure {
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
	<div id="app">
		<div class="section">
			<div class="container">
				<div class="columns is-multiple">
					<div class="column is-6 is-offset-3">
						<form @submit.prevent="searchSpotify">
							<div class="field">
								<p class="control">
									<label class="label">Search Spotify</label>
									<input class="input" type="text" v-model="searchTerm"></input>
								</p>
							</div>
							<div class="field">
								<p class="control">
									<button :disabled="!searchTerm" class="button is-primary" @click="searchSpotify">Search</button>
								</p>
							</div>
						</form>
					</div>
				</div>
				<div class="columns is-multiple">
					<div class="column is-12">
						<div class="box album" v-for="album in albums">
							<figure class="image is-96x96">
								<img v-if="album.images.length" :src="album.images[0].url" alt="">
							</figure>
							<h1 class="subtitle is-8">{{album.name}}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				searchTerm: null,
				albums: null
			},
			methods: {
				searchSpotify(e) {
					axios.get('https://api.spotify.com/v1/search', {
						params: {
							q: this.searchTerm,
							type: 'album'
						}
					}).then((res) => {
						this.albums = res.data.albums.items ? res.data.albums.items : []
					})
				}
			}
		})
	</script>
</body>
</html>